*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1600px;
  min-width: 280px;
  position: absolute;
  top: 100%;
}

.menu {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  z-index: 2;
  background-color: rgba(35, 8, 0, 0.5);
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
}

.menu__title {
  margin: 20px 10px;
  font-size: 24px;
}

.menu__list {
  list-style: none;
  margin: 20px 10px;
  font-size: 20.8px;
  text-transform: capitalize;
}

.menu__list li {
  margin: 10px 10px;
}

.menu__burger {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 100%;
  left: 0%;
}

.menu__burger .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0.9);
          transform: translate(-50%, -50%) scaleY(0.9);
  font-size: 45px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.welcome {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  min-width: 280px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 115, 37, 0.221))), url("../images/mars1_1280.jpg");
  background: linear-gradient(rgba(233, 115, 37, 0.221)), url("../images/mars1_1280.jpg");
  background-size: cover;
  background-position: 75% 0%;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  color: #ffcaad;
}

@media (min-width: 1200px) {
  .welcome {
    background-position: 20% 0%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 115, 37, 0.221))), url("../images/mars1_1920.jpg");
    background: linear-gradient(rgba(233, 115, 37, 0.221)), url("../images/mars1_1920.jpg");
  }
}

.welcome__title {
  font-size: 40px;
  position: relative;
  top: 25%;
  text-shadow: 0px 2px 10px #000000;
  font-weight: 700;
}

.introduction {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  font-weight: 200;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.856))), url("../images/mars2_1263.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.856)), url("../images/mars2_1263.jpg");
  background-size: cover;
}

.introduction__text {
  text-transform: uppercase;
  line-height: 1.6;
}

.introduction h2 {
  font-size: 24px;
  text-transform: uppercase;
  padding: 12px 0;
}

.interface {
  width: 100%;
  color: #fff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.interface__chose-rover {
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.interface__chose-rover h3 {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px 0;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.interface__chose-rover button {
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 12.8px;
  text-transform: uppercase;
  margin: 5px 1px;
  background-color: #000;
  border: 2px solid #ff8000;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.interface__chose-rover button:focus {
  -webkit-box-shadow: inset 0 0 3px 1px #ff8000;
          box-shadow: inset 0 0 3px 1px #ff8000;
}

.interface__chose-rover button:active {
  border-width: 3px;
  font-size: 13.6px;
}

.interface__chose-rover .curiosity {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.interface__chose-rover .opportunity {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.interface__chose-rover .spirit {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.interface__chose-rover .pointed {
  background-color: #333;
}

.interface__chose-rover h3::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
}

.interface__date-type {
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  display: none;
}

.interface__date-type h3 {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px 0;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.interface__date-type button {
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 12.8px;
  text-transform: uppercase;
  margin: 5px 1px;
  background-color: #000;
  border: 2px solid #ff8000;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.interface__date-type button:focus {
  -webkit-box-shadow: inset 0 0 3px 1px #ff8000;
          box-shadow: inset 0 0 3px 1px #ff8000;
}

.interface__date-type button:active {
  border-width: 3px;
  font-size: 13.6px;
}

.interface__date-type .earth_date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.interface__date-type .sol {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.interface__date-type .pointed {
  background-color: #333;
}

.interface__date-type h3::after {
  content: "";
  width: 75%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
}

.interface__date-format {
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  display: none;
}

.interface__date-format h3 {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px 0;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.interface__date-format h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
}

.interface__date-format input {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  outline: none;
  border: 2px solid #ff8000;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #fff;
  background-color: #000;
}

.interface__date-format input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.interface__date-format input:focus {
  -webkit-box-shadow: inset 0 0 5px 1px #ff8000;
          box-shadow: inset 0 0 5px 1px #ff8000;
}

.interface__sol-format {
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  display: none;
}

.interface__sol-format h3 {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px 0;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.interface__sol-format h3::after {
  content: "";
  width: 95%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
}

.interface__sol-format input[type="number"] {
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14.4px;
  text-transform: uppercase;
  margin: 5px 1px;
  background-color: #000;
  border: 2px solid #ff8000;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  text-transform: uppercase;
}

.interface__sol-format input[type="submit"] {
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14.4px;
  text-transform: uppercase;
  margin: 5px 1px;
  background-color: #000;
  border: 2px solid #ff8000;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  grid-column: 1/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.interface__sol-format input:focus {
  -webkit-box-shadow: inset 0 0 5px 1px #ff8000;
          box-shadow: inset 0 0 5px 1px #ff8000;
}

.interface__sol-format input:focus::-webkit-input-placeholder {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.interface__sol-format input:focus:-ms-input-placeholder {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  transform: scale(0);
}

.interface__sol-format input:focus::-ms-input-placeholder {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  transform: scale(0);
}

.interface__sol-format input:focus::placeholder {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.interface__sol-format input:active {
  border-width: 3px;
  font-size: 13.6px;
}

.gallery {
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.gallery section {
  width: 100%;
  overflow-y: hidden;
  background-color: #000;
  text-align: center;
  border-radius: 3px;
}

.gallery section button {
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #000;
  border: 2px solid #ff8000;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  width: 100%;
  line-height: 40px;
}

.gallery section button:focus {
  -webkit-box-shadow: inset 0 0 3px 1px #ff8000;
          box-shadow: inset 0 0 3px 1px #ff8000;
}

.gallery section button:active {
  border-width: 3px;
  font-size: 15.2px;
}

.gallery section div {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery section div img {
  width: 25%;
}
/*# sourceMappingURL=style.css.map */