*,*:before,*:after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

$chakra-petch: 'Chakra Petch', sans-serif;
// weights: 300, 400, 500, 600, 700
$montserrat: 'Montserrat', sans-serif;
//weights: 100, 200, 300, 400, 500, 700
$font-titles: 40px;
$font-text: 16px;

// $xsmall: 'min-width:400px';
$small: 'min-width:500px';
$medium: 'min-width:700px';
$large: 'min-width:1024px';
$xlarge: 'min-width:1200px';
$xxlarge: 'min-width:1400px';

html{
  scroll-behavior: smooth;
}

body{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  .preview{
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.85);
    section{
      position: relative;
      color:rgb(255, 255, 255);
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1*$font-text;
      font-family: $chakra-petch;
      transition: 0.25s;
      &.--invisible{
        opacity: 0;
      }
      @media ($small){
        font-size: 1.2*$font-text;
      }
      p{
        margin:15px 5px;
        text-shadow: 0 0 7px #000;
      }
    }
    div{
      color:#fff;
      font-size: 1.4*$font-titles;
      position: absolute;
      top: 80%;
      left: 0%;
      @media ($small){
        font-size: 1.6*$font-titles;
      }
    }
    .left-arrow{
      left: 0%;
      transform:translateX(15%);
    }
    .close{
      left: 50%;
      transform:translateX(-50%);
    }
    .right-arrow{
      left: 100%;
      transform:translateX(-115%);
    }
    img{
      width:auto;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 0%;
      transform:translateY(-50%);
      @media($small){
        left: 50%;
        max-width: 700px;
        transform:translate(-50%, -50%);
      }
    }
  }
}

.wrapper{
  max-width: 1600px;
  min-width: 280px;
  position: absolute;
  top: 100%;
}

@mixin btn($font:$montserrat, $color:#fff, $font-size:0.9*$font-text, $font-letters: uppercase, $margin-values:5px 1px, $bgc-col:#000, $border-params:2px solid rgb(255, 128, 0), $border-rad:5px, $transition:0.15s){
  outline:none;
  font-family: $font;
  color: $color;
  font-size: $font-size;
  text-transform: $font-letters;
  margin: $margin-values;
  background-color: $bgc-col;
  border: $border-params;
  border-radius:$border-rad;
  transition: $transition;
  @media ($small){
    font-size:$font-text;
  }
  @content;
}
@mixin inputsSolDate($font:$montserrat, $color:#fff, $font-size:0.9*$font-text, $font-letters: uppercase, $margin-values:5px auto, $bgc-col:#000, $border-params:2px solid rgb(255, 128, 0), $border-rad:5px,$width: 40%, $line-height: 2*$font-text, $transition:0.15s){
  outline:none;
  font-family: $font;
  color: $color;
  font-size: $font-size;
  text-transform: $font-letters;
  margin: $margin-values;
  background-color: $bgc-col;
  border: $border-params;
  border-radius:$border-rad;
  width: $width;
  line-height: 2*$font-text;
  transition: $transition;
  @media ($small){
    font-size:$font-text;
  }
  @content;
}

@mixin titles-after($width, $height:2px, $bgc-col:#fff, $vertical:100%, $horizontal:0){
  content:"";
  width: $width;
  height:$height;
  background-color: $bgc-col;
  position: absolute;
  top:$vertical;
  left:$horizontal;
  @content;
}

@mixin wrapper-sections($width:100%, $padding:null, $txt-al:null,$color:#fff,){
  width: $width;
  padding: $padding;
  text-align: $txt-al;
  color: $color;
  @content;
}

@mixin interface-h3($pos: relative, $font-size: 0.5*$font-titles, $font-letters: uppercase, $margin-values: 15px 0){
  position: $pos;
  font-size:$font-size;
  text-transform: $font-letters;
  margin:$margin-values;
  @media ($small){
    font-size: 0.6*$font-titles;
  }
  @content;
}