.interface{
  @include  wrapper-sections(){
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  }
  &__chose-rover{
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    @media ($small){
      column-gap: 15px;
      padding: 0 15px;
    }
    h3{
      @include interface-h3(){
        grid-column: 1/-1;
        grid-row: 1/2;
      };
    }
    button{
      @include btn();
    }
    button:focus{
      box-shadow: inset 0 0 8px 1px rgb(255, 128, 0);
    }
    button:active{
      border-width: 3px;
      font-size: 0.85*$font-text;
    }
    .curiosity{
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .opportunity{
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .spirit{
      grid-column: 3/4;
      grid-row: 2/3;
    }
    .pointed{
      background-color: #333;
    }
    h3::after{
      @include titles-after($width:50%);
    }
  }
  &__date-type {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: none;
    @media ($small){
      column-gap: 15px;
      padding: 0 15px;
    }
    h3{
      @include interface-h3(){
        grid-column: 1/-1;
        grid-row: 1/2;
      }
    }
    button{
      @include btn();
    }
    button:focus{
      box-shadow: inset 0 0 8px 1px rgb(255, 128, 0);
    }
    button:active{
      border-width: 3px;
      font-size: 0.85*$font-text;
    }
    .earth_date{
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .sol{
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .pointed{
      background-color: #333;
    }
    h3::after{
      @include titles-after($width: 75%);
    }
  }
  &__date-format {
    width: 100%;
    text-align: center;
    display: none;
    @media ($small){
      padding: 0 15px;
    }
    h3{
      @include interface-h3(){
      };
    }
    h3::after{
      @include titles-after($width: 100%);
    }
    input{
      @include inputsSolDate(){
        text-align: center;
        text-transform: uppercase;
      }
    }
    input::-webkit-calendar-picker-indicator{
      font-size:0.9*$font-text;
      filter: invert(100%);
    }
    input:focus{
      box-shadow: inset 0 0 8px 1px rgb(255, 128, 0);
    }
  }
  &__sol-format {
    width: 100%;
    text-align: center;
    display: none;
    @media ($small){
      padding: 0 15px;
    }
    h3{
      @include interface-h3(){
      }
    }
    h3::after{
      @include titles-after($width: 100%);
    }
    input[type="number"]{
      @include inputsSolDate(){
        text-align: center;
        text-transform: uppercase;
      }
    }
    input[type="submit"]{
      @include inputsSolDate(){
      }
    }
    input:focus{
      box-shadow: inset 0 0 8px 1px rgb(255, 128, 0);
    }
    input:focus::placeholder{
      transition:0.35s;
      transform: scale(0);
    }
    input:active{
      border-width: 3px;
      font-size: 0.85*$font-text;
    }
  }
}