.introduction{
  @include wrapper-sections($padding:10px 5px,$txt-al:center){
  font-weight: 200;
  background: linear-gradient(rgba(0, 0, 0, 0.856)),url('../images/mars2_1263.jpg');
  background-size: cover;
  }
  &__text{
    text-transform: uppercase;
    line-height: 1.6;
    .bold{
      font-style: normal;
      font-weight: 700;
      color: #fff;
    }
    .hint{
      font-size: 1.1*$font-text;
      color: rgb(236, 145, 17);
      letter-spacing: 2px;
      @media ($small){
        font-size: 1.2*$font-text;
      }
    }
    @media ($small){
      font-size: 1.2*$font-text;
    }
  }
  h2{
  font-size:0.6*$font-titles;
  text-transform: uppercase;
  padding: 12px 0;
  @media ($small){
    font-size: 0.7*$font-titles;
  }
  @media ($large) and (orientation: landscape){
    font-size: 0.9*$font-titles;
  }
  }
}